[Unit]
Description=SeaweedFS Volume
After=network.target

[Service]
ExecStart=/usr/local/bin/weed volume \
  -dir={{ seaweed_data_dir }} \
  -port={{ volume_port }} \
  -ip={{ ansible_host }} \
  -master={% for host in groups['seaweedfs'] %}{{ hostvars[host]['ansible_host'] }}:9333{% if not loop.last %},{% endif %}{% endfor %} \
  -max={{ volume_max }}

Restart=always

[Install]
WantedBy=multi-user.target